<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MoonBoss0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,0},{54,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{54,46}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>MoonBoss0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,0},{54,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{54,46}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>MoonBoss0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{54,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{54,46}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MoonBoss.png</string>
            <key>size</key>
            <string>{162,46}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b2b421c7fe6a5f3ad22ae7a5c8cc93b:868c72aba9e9e65d4f4c876fc89a8638:62c6475e2e23baf5234df3ff2c728eb4$</string>
            <key>textureFileName</key>
            <string>MoonBoss.png</string>
        </dict>
    </dict>
</plist>
