<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mineDroid0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,0},{30,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,23}}</string>
                <key>sourceSize</key>
                <string>{30,23}</string>
            </dict>
            <key>mineDroid0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,0},{30,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,23}}</string>
                <key>sourceSize</key>
                <string>{30,23}</string>
            </dict>
            <key>mineDroid0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,0},{30,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,23}}</string>
                <key>sourceSize</key>
                <string>{30,23}</string>
            </dict>
            <key>mineDroid0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,0},{30,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,23}}</string>
                <key>sourceSize</key>
                <string>{30,23}</string>
            </dict>
            <key>mineDroid0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,0},{30,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,23}}</string>
                <key>sourceSize</key>
                <string>{30,23}</string>
            </dict>
            <key>mineDroid0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,0},{30,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,23}}</string>
                <key>sourceSize</key>
                <string>{30,23}</string>
            </dict>
            <key>mineDroid0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,0},{30,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,23}}</string>
                <key>sourceSize</key>
                <string>{30,23}</string>
            </dict>
            <key>mineDroid0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,0},{30,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,23}}</string>
                <key>sourceSize</key>
                <string>{30,23}</string>
            </dict>
            <key>mineDroid0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,0},{30,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,23}}</string>
                <key>sourceSize</key>
                <string>{30,23}</string>
            </dict>
            <key>mineDroid0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,0},{30,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,23}}</string>
                <key>sourceSize</key>
                <string>{30,23}</string>
            </dict>
            <key>mineDroid0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,0},{30,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,23}}</string>
                <key>sourceSize</key>
                <string>{30,23}</string>
            </dict>
            <key>mineDroid0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,0},{30,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,23}}</string>
                <key>sourceSize</key>
                <string>{30,23}</string>
            </dict>
            <key>mineDroid0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,0},{30,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,23}}</string>
                <key>sourceSize</key>
                <string>{30,23}</string>
            </dict>
            <key>mineDroid0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,0},{30,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,23}}</string>
                <key>sourceSize</key>
                <string>{30,23}</string>
            </dict>
            <key>mineDroid0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,0},{30,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,23}}</string>
                <key>sourceSize</key>
                <string>{30,23}</string>
            </dict>
            <key>mineDroid0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,0},{30,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,23}}</string>
                <key>sourceSize</key>
                <string>{30,23}</string>
            </dict>
            <key>mineDroid0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,0},{30,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,23}}</string>
                <key>sourceSize</key>
                <string>{30,23}</string>
            </dict>
            <key>mineDroid0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,0},{30,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,23}}</string>
                <key>sourceSize</key>
                <string>{30,23}</string>
            </dict>
            <key>mineDroid0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,0},{30,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,23}}</string>
                <key>sourceSize</key>
                <string>{30,23}</string>
            </dict>
            <key>mineDroid0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,0},{30,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,23}}</string>
                <key>sourceSize</key>
                <string>{30,23}</string>
            </dict>
            <key>mineDroid0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,0},{30,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,23}}</string>
                <key>sourceSize</key>
                <string>{30,23}</string>
            </dict>
            <key>mineDroid0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,0},{30,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,23}}</string>
                <key>sourceSize</key>
                <string>{30,23}</string>
            </dict>
            <key>mineDroid0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,0},{30,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,23}}</string>
                <key>sourceSize</key>
                <string>{30,23}</string>
            </dict>
            <key>mineDroid0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{30,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,23}}</string>
                <key>sourceSize</key>
                <string>{30,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mineDroid.png</string>
            <key>size</key>
            <string>{720,23}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5ed85557c461660b374988dc23b4c2d:f15f4e28d196b9369b5c8a199ac76d30:49ecf1a1ac48745c403f3c5c842ab463$</string>
            <key>textureFileName</key>
            <string>mineDroid.png</string>
        </dict>
    </dict>
</plist>
