<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>super-missile0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,0},{17,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{17,47}}</string>
                <key>sourceSize</key>
                <string>{19,47}</string>
            </dict>
            <key>super-missile0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,0},{17,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{17,47}}</string>
                <key>sourceSize</key>
                <string>{19,47}</string>
            </dict>
            <key>super-missile0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,0},{17,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{17,47}}</string>
                <key>sourceSize</key>
                <string>{19,47}</string>
            </dict>
            <key>super-missile0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,0},{17,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{17,47}}</string>
                <key>sourceSize</key>
                <string>{19,47}</string>
            </dict>
            <key>super-missile0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,0},{17,45}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{17,45}}</string>
                <key>sourceSize</key>
                <string>{19,47}</string>
            </dict>
            <key>super-missile0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,0},{17,45}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{17,45}}</string>
                <key>sourceSize</key>
                <string>{19,47}</string>
            </dict>
            <key>super-missile0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,0},{17,45}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{17,45}}</string>
                <key>sourceSize</key>
                <string>{19,47}</string>
            </dict>
            <key>super-missile0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,0},{17,45}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{17,45}}</string>
                <key>sourceSize</key>
                <string>{19,47}</string>
            </dict>
            <key>super-missile0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,0},{17,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{17,45}}</string>
                <key>sourceSize</key>
                <string>{19,47}</string>
            </dict>
            <key>super-missile0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,0},{17,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{17,45}}</string>
                <key>sourceSize</key>
                <string>{19,47}</string>
            </dict>
            <key>super-missile0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,0},{17,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{17,45}}</string>
                <key>sourceSize</key>
                <string>{19,47}</string>
            </dict>
            <key>super-missile0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,0},{17,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{17,45}}</string>
                <key>sourceSize</key>
                <string>{19,47}</string>
            </dict>
            <key>super-missile0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,0},{17,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{17,45}}</string>
                <key>sourceSize</key>
                <string>{19,47}</string>
            </dict>
            <key>super-missile0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,0},{17,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{17,45}}</string>
                <key>sourceSize</key>
                <string>{19,47}</string>
            </dict>
            <key>super-missile0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,0},{17,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{17,45}}</string>
                <key>sourceSize</key>
                <string>{19,47}</string>
            </dict>
            <key>super-missile0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,0},{17,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{17,45}}</string>
                <key>sourceSize</key>
                <string>{19,47}</string>
            </dict>
            <key>super-missile0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,0},{17,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{17,47}}</string>
                <key>sourceSize</key>
                <string>{19,47}</string>
            </dict>
            <key>super-missile0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,0},{17,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{17,47}}</string>
                <key>sourceSize</key>
                <string>{19,47}</string>
            </dict>
            <key>super-missile0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{17,0},{17,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{17,47}}</string>
                <key>sourceSize</key>
                <string>{19,47}</string>
            </dict>
            <key>super-missile0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{17,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{17,47}}</string>
                <key>sourceSize</key>
                <string>{19,47}</string>
            </dict>
            <key>super-missile0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,0},{17,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{17,45}}</string>
                <key>sourceSize</key>
                <string>{19,47}</string>
            </dict>
            <key>super-missile0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,0},{17,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{17,45}}</string>
                <key>sourceSize</key>
                <string>{19,47}</string>
            </dict>
            <key>super-missile0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,0},{17,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{17,45}}</string>
                <key>sourceSize</key>
                <string>{19,47}</string>
            </dict>
            <key>super-missile0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,0},{17,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{17,45}}</string>
                <key>sourceSize</key>
                <string>{19,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>super-missile.png</string>
            <key>size</key>
            <string>{408,47}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ffc04a26de115c7887a8d46e61a4b4d:4ea47637680e135d98f2823590280b0d:fcd26967fec6557ea75a05b4bbf1aafc$</string>
            <key>textureFileName</key>
            <string>super-missile.png</string>
        </dict>
    </dict>
</plist>
